@charset "utf-8";



#all_top_kanban {
    background-image: url(../img/all_page/all_top_kanban.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}